

* {
  margin:0px;
  font-family: Arial;
  background-color: black;
}

.header {
  height:69px;
  background-color: black;
  color:white;
  border-bottom: 1px solid seashell;
  display:inline-flex;
  justify-content: space-between;
  width:100%;
  align-items: center;

}

.logo img{
  height:50px;
  margin-left: 10px;
}


.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}


/* start of jumbotron styles */
.jumbotron {
  background-image: url("./photos/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: black;
  height:150px;
  width:100%;
  text-align: center;
}

.title h2{
   margin:20px;
}

.title h4{
  margin:20px;
}

/* style for locations */

.locations {
  background-image: url("./photos/img-locations-background.jpg");
  height:500px;
  width: 1200px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;

}

.sites {
  width:300px;
  height:300px;
  background-color: black;
}
